/* p, h1 {
    color: red;
  }

#param_test {
    color: blue;
}

.center {text-align:center;}
   */

   html {
    /* px 表示“像素（pixels）”: 基础字号为 10 像素 */
    font-size: 10px;
    /* Google fonts 输出的 CSS */
    font-family: 'Open Sans', sans-serif;
  }
  